[package]
name = "android_native_surface"
version = "0.1.0"
authors = ["Marijn Suijten <marijns95@gmail.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
android_logger = "0.11"
glutin = "0.28"
jni = "0.19"
log = "0.4"
ndk = { git = "https://github.com/rust-windowing/android-ndk-rs", rev = "e2d5b62", features = ["api-level-28"] }

[build-dependencies]
gl_generator = "0.14"

[patch.crates-io]
glutin = { git = "https://github.com/MarijnS95/glutin", rev = "bee362e" }
